footer#footer
  .row#footer-inner
    .col-xs-12#footer-content
      p
        | bopit.io by 
        a(href="https://twitter.com/whatmariel" target="_blank") @whatmariel 
        |  x 
        a(href="https://twitter.com/zfogg" target="_blank") @zfogg
        |  x 
        a(href="https://twitter.com/_lssr" target="_blank") @_lssr
        |  x 
        a(href="https://twitter.com/jhilmd" target="_blank") @jhilmd
        |  at pennapps

