footer#footer
  .row#footer-inner
    .col-xs-12#footer-content
      | Bopit.io
      | 
      a(href="mailto:someone@somewhe.re" target="_blank") Email
      | &ensp;·&ensp;
      a(href="https://twitter.com/bopitIO" target="_blank") Twitter
      | &ensp;·&ensp;
      a(href="https://www.facebook.com/bopitIO" target="_blank") Facebook

