@import 'sass-bootstrap/lib/variables'
@import 'layout/variables'

@import 'sass-bootstrap/lib/mixins'
@import 'sass-bootstrap/lib/normalize'
@import 'sass-bootstrap/lib/glyphicons'
@import 'sass-bootstrap/lib/grid'
@import 'sass-bootstrap/lib/buttons'


*, *:before, *:after
  @include box-sizing(border-box)

html, body, #buffer
  min-height: 100%
  height: 100%

body
  z-index: -99
  overflow-x: hidden

#wrapper
  white-space: pre-line
  min-height: 100%
  margin-bottom: -1*$footer-height
  padding-top: 4em

#wrapper:after
  content: ""
  display: block

#footer, #wrapper:after
  height: $footer-height
  margin-bottom: 2em
  margin-top: 2em
  color: $color_gray-light

.wrapper
  overflow: hidden
  margin: 0 auto

.clearfix
  @include clearfix()

*:focus, *:active, *:hover
  outline: none

#footer
  padding-top: 0
  padding-bottom: 0
  #footer-inner
    height: 100%
    width: 100%
    display: table
    #footer-content
      white-space: pre-line
      display: table-cell
      vertical-align: middle
      text-align: center

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important


#buffer
  &.ng-enter
    animation: fadeIn 0.4s

#wrapper
  &.bopit-view
    $enterTime: 0.3s
    $leaveTime: 0.2s
    &.ng-leave
      animation: fadeOutUp $leaveTime
    &.ng-enter
      animation: fadeInDown $enterTime $leaveTime

#header
  span
    color: $color_gray-light

// SCORE

.bar
  width: 100%
  min-width: 110%
  height: .25em
  background: $color_purple

.score
  color: $color_purple
  display: inline-block
  margin-bottom: 1em
  padding: 0 1em
  border-bottom: 5px solid $color_purple 


.players
  color: $color_gray-light
  ul
    display: inline-block
    margin: 0 auto
  li
    display: inline-block
    float: left
    margin: 0 1em
    padding: .5em 1em
    border: 1px solid #fff
    border-radius: 10px
  li:before
    content: "@"

li.current
  color: $color_purple
  border: 1px solid $color_green

.dead
  color: $color_gray-light
  .bar
    background: $color_gray-light

// MAIN TOY

#main-inner
  .toy
    margin: 5em auto 0
    max-width: 1380px
    width: 100%
    margin-top: 5em
    height: 350px

  position: relative
  #leap, .leap
    @include square(100%)
    position: absolute
    top: 0
    left: 0
    h1
      color: $color_yellow
  #leapUI
    z-index: 2000
    .text-valign
      line-height: 420px
  #leapCanvas
    z-index: 1000

.share
  margin-top: 3em

.imagesTop
  position: absolute
  left:     50%
  margin-left: -690px
  text-align: center
#toyPull
  z-index:  1
#toyBody
  z-index:  3
#toyBop
  z-index:  4
#toyStripes
  z-index:  5
  margin-top: 30px
