#main(ng-show="isLoaded" role="main" ng-controller="ViewportCtrl")
  #header
    .row.score
      h1 0
    .row.players
      ul
        li.current jhilmd
        li whatmariel
        li _lssr
        li zfogg

  #main-inner
    .row.toy
      .imagesTop
        img#toyPull(src="images/toy-pull.svg")
      .imagesTop
        img#toyBody(src="images/toy-body.svg")
      .imagesTop
        img#toyBop(src="images/toy-bop.svg")
      .imagesTop
        img#toyStripes(src="images/toy-stripes.svg")

    #leap(ng-controller="LeapCtrl" ng-init="leapDebug = true")
      .leap#leapUI(ng-show="leapDebug")
        span.text-valign
          h2
      .leap(ng-show="leapDebug")
        h1 {{ output }}
      .leap#leapCanvas
        canvas#canvas

