#main(ng-show="isLoaded")
  header#header
    //- .row
    //-   .col-xs-12
    //-     h1 ;) put a title here or something hshshh

    //-   .col-xs-12
    //-     h2 And a subtitle here ya know
    //-     h2
    //-       button 'call to action' button

  section(role="main" ng-controller="ViewportCtrl")
    .row
      .row
        .col-xs-6.col-xs-offset-3
          .col-xs-12.col-md-3
            h2 12
            p.
              @jhilmd
          .col-xs-12.col-md-3
            h2 8
            p.
              @marielwhat
          .col-xs-12.col-md-3
            h2 4
            p.
              @zfogg
          .col-xs-12.col-md-3
            h2 6
            p.
              @_lssr
      .row.bodySvg



