#main(ng-show="isLoaded")
  header#header
    .row
      .col-xs-12
        h1 ;) put a title here or something

      .col-xs-12
        h2 And a subtitle here ya know
        h2
          button 'call to action' button

  .row
    .col-xs-12
      h2 guys we need stuff here

      h3.
        style this content and shit

      p.
        seriously guys I don't wanna deal with the content,
        y'all got this.

      h3.b
        a(href="/somewhere" scroll-to="#wrapper")
          button#faq-button go to a new page


