#main(ng-show="isLoaded" role="main" ng-controller="ViewportCtrl")
  .row.score-area
    .score.current
      .status
        img(src="images/circle.svg")
      h1 12
      .bar
      p @jhilmd
    .score
      h1 6
      .bar
      p @_lssr
    .score.dead
      .status
        img(src="images/x.svg")
      h1 3
      .bar
      p @whatmariel
    .score
      h1 2
      .bar
      p @zfogg

  #main-inner
    .row.toy
      .imagesTop
        img#toyPull(src="images/toy-pull.svg" height="420")
      .imagesTop
        img#toyBody(src="images/toy-body.svg" height="420")
      .imagesTop
        img#toyBop(src="images/toy-bop.svg" height="420")
      .imagesTop
        img#toyStripes(src="images/toy-stripes.svg" height="420")

    #leap(ng-controller="LeapCtrl" ng-init="leapDebug = true")
      .leap#leapUI(ng-show="leapDebug")
        span.text-valign
          h2
      .leap(ng-show="leapDebug")
        h1 {{ output }}
      .leap#leapCanvas
        canvas#canvas

