#main(ng-show="isLoaded")

  section(role="main" ng-controller="ViewportCtrl")
    .row.score-area
      .score.current
        .status
          <img src="images/circle.svg">
        h1 12
        .bar
        p.
          @jhilmd
      .score
        h1 6
        .bar          
        p.
          @_lssr
      .score.dead
        .status
          <img src="images/x.svg">          
        h1 3
        .bar
        p.
          @whatmariel
      .score
        h1 2
        .bar          
        p.
          @zfogg    
    .row.toy
      <img src="images/bopit-toy.svg">
    //- .share
    //-   p share 
    //-     a(href="#" target="_blank") bopit.io/example
    //-     |  to play with friends
