
.loading {
  text-align: center;
  height: 22px;
  width: 100px;
  margin: 0 auto;
}

.loading div {
  border-radius:50%;
  margin: .125em;
  height:.5em;
  width:.5em;
  display: inline-block;
  box-sizing: border-box;
  background: #ccc;
}
.loading div:nth-of-type(4) {
  -webkit-animation:flash 0.8s 0.1s ease-in-out infinite;
  animation:flash 0.8s 0.1s ease-in-out infinite;
}
.loading div:nth-of-type(3) {
  -webkit-animation:flash 0.8s ease-in-out infinite;
  animation:flash 0.8s ease-in-out infinite;
}
.loading div:nth-of-type(2) {
  -webkit-animation:flash 0.8s -0.1s ease-in-out infinite;
  animation:flash 0.8s -0.1s ease-in-out infinite;
}
.loading div:nth-of-type(1) {
  -webkit-animation:flash 0.8s -0.2s ease-in-out infinite;
  animation:flash 0.8s -0.2s ease-in-out infinite;
}

@keyframes flash {
  0% { opacity: 0; }
  50% { opacity: 0.5 }
  100% { opacity: 1.0 }
}
@-webkit-keyframes flash {
  0% { opacity: 0; }
  50% { opacity: 0.5 }
  100% { opacity: 1.0 }
}