#main(ng-show="isLoaded" role="main")

  #teaser
    a(ng-href="/play")
      img#teaser-toy(src="images/bopit-toy.svg")

  #header
    h1 bop it <span>x</span> leap motion 

  #main-inner(ng-controller="MainCtrl")
    .row.status.connected
      img#check(src="images/check.svg")
      p leap motion is ready to go!
    .row.status.disconnected
      .loading
        div
        div
        div
        div
      p searching for leap motion
    .row.connected
      img#twitterConnect(src="images/twitter-connect.svg" ng-click="twitterAuth()")
    .row.disconnected
      a(ng-href="/play")
        h3
          button.btn.btn-info connect
    .row.status.disconnected
      h4 no leap motion? :(
      p that's ok, you can like just use the keyboard:
        | b = bop it | t = twist it | p = pull it
