#main(ng-show="isLoaded" role="main")

  #teaser
    a(ng-href="/play")
      img#teaser-toy(src="images/bopit-toy.svg")

  #header
    h1 bop it <span>x</span> leap motion 

  #main-inner
    .row.status.connected
      img#check(src="images/check.svg")
      p leap motion hooked up!
    .row.status.disconnected
      img#check(src="images/loading.gif")
      p seeking leap motion...
    .row.connect
      a(ng-href="/play")
        img#twitterConnect(src="images/twitter-connect.svg")