#main(ng-show="isLoaded" role="main")
  #header
    .row
      h1 jeff make this pretty

  #main-inner
    .row
      h2 plz jeff

    .row
      a(ng-href="/play")
        button.btn.btn-default click here tho
